*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, sans-serif;
}

.main-container {
  width: min(95%, 75rem);
  margin: 6.25rem auto;
}

.table-responsive__header {
  display: none;
}
@media (min-width: 1024px) {
  .table-responsive__header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #e0e0e0;
  }
}
.table-responsive__header-item {
  color: #444444;
  font-size: 0.875rem;
  font-weight: bold;
}
.table-responsive__header-item:not(:last-child) {
  margin-right: 0.5rem;
}
.table-responsive__header-item.hi-1 {
  width: 21%;
}
.table-responsive__header-item.hi-2 {
  width: 10%;
}
.table-responsive__header-item.hi-3 {
  width: 11%;
}
.table-responsive__header-item.hi-4 {
  width: 18%;
}
.table-responsive__header-item.hi-5 {
  width: 12%;
}
.table-responsive__header-item.hi-6 {
  width: 9%;
}
.table-responsive__header-item.hi-7 {
  width: 10%;
}
.table-responsive__header-item.hi-8 {
  width: 9%;
}
@media (max-width: 1023px) {
  .table-responsive__body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.table-responsive__body-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem;
}
@media (max-width: 1023px) {
  .table-responsive__body-row {
    justify-content: space-between;
    row-gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 1024px) {
  .table-responsive__body-row {
    flex-wrap: nowrap;
    padding: 0.75rem 1rem;
  }
}
@media (min-width: 1024px) {
  .table-responsive__body-row:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive__body-row:nth-child(even) {
    background-color: #fafafa;
  }
}
.table-responsive__body-row-item {
  font-size: 0.875rem;
  color: #757575;
}
@media (max-width: 768px) {
  .table-responsive__body-row-item:nth-child(odd) {
    margin-right: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}
.table-responsive__body-row-item.bri-1 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-1 {
    width: 21%;
  }
}
.table-responsive__body-row-item.bri-1 .value {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-responsive__body-row-item.bri-2 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-2 {
    width: 10%;
  }
}
.table-responsive__body-row-item.bri-3 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-3 {
    width: 11%;
  }
}
.table-responsive__body-row-item.bri-4 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-4 {
    width: 18%;
  }
}
.table-responsive__body-row-item.bri-5 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-5 {
    width: 12%;
  }
}
.table-responsive__body-row-item.bri-6 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-6 {
    width: 9%;
  }
}
.table-responsive__body-row-item.bri-7 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-7 {
    width: 10%;
  }
}
.table-responsive__body-row-item.bri-8 {
  width: 47%;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item.bri-8 {
    width: 9%;
  }
}
.table-responsive__body-row-item.bri-8 .see-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 1.875rem;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .table-responsive__body-row-item.bri-8 .see-detail {
    width: fit-content;
    padding-inline: 2rem;
  }
}
.table-responsive__body-row-item .mobile-label {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .table-responsive__body-row-item .mobile-label {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
