@use "variables" as *;
@use "functions" as f;

html {
  font-size: $font-size-base;
}

body {
  font-family: $base-font-family;
}

.main-container {
  width: Min(95%, f.rem(1200px));
  margin: f.rem(100px) auto;
}

.table-responsive {
  &__header {
    display: none;

    @media (min-width: $brkp-large) {
      display: flex;
      align-items: center;
      padding: f.rem(12px) f.rem(16px);
      background-color: #e0e0e0;
    }
  }

  &__header-item {
    color: $dark-color;
    font-size: f.rem(14px);
    font-weight: bold;

    &:not(:last-child) {
      margin-right: f.rem(8px);
    }

    &.hi-1 {
      width: 21%;
    }

    &.hi-2 {
      width: 10%;
    }

    &.hi-3 {
      width: 11%;
    }

    &.hi-4 {
      width: 18%;
    }

    &.hi-5 {
      width: 12%;
    }

    &.hi-6 {
      width: 9%;
    }

    &.hi-7 {
      width: 10%;
    }

    &.hi-8 {
      width: 9%;
    }
  }

  &__body {
    @media (max-width: ($brkp-large - 1)) {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: f.rem(16px);
    }
  }

  &__body-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: f.rem(12px);

    @media (max-width: ($brkp-large - 1)) {
      justify-content: space-between;
      row-gap: f.rem(16px);
      border: 1px solid #ccc;
      border-radius: f.rem(8px);
      box-shadow: 0 2px 4px rgba(#000, 0.07);
    }

    @media (min-width: $brkp-large) {
      flex-wrap: nowrap;
      padding: f.rem(12px) f.rem(16px);
    }

    @media (min-width: $brkp-large) {
      &:nth-child(odd) {
        background-color: #fff;
      }

      &:nth-child(even) {
        background-color: #fafafa;
      }
    }
  }

  &__body-row-item {
    font-size: f.rem(14px);
    color: #757575;

    @media (max-width: $brkp-medium) {
      &:nth-child(odd) {
        margin-right: f.rem(8px);
      }
    }

    @media (min-width: $brkp-large) {
      &:not(:last-child) {
        margin-right: f.rem(8px);
      }
    }

    &.bri-1 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 21%;
      }

      .value {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.bri-2 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 10%;
      }
    }

    &.bri-3 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 11%;
      }
    }

    &.bri-4 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 18%;
      }
    }

    &.bri-5 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 12%;
      }
    }

    &.bri-6 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 9%;
      }
    }

    &.bri-7 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 10%;
      }
    }

    &.bri-8 {
      width: 47%;

      @media (min-width: $brkp-large) {
        width: 9%;
      }

      .see-detail {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: f.rem(8px) f.rem(16px);
        background-color: #1db954;
        color: #fff;
        border: none;
        border-radius: f.rem(30px);
        cursor: pointer;
        font-size: inherit;
        font-weight: bold;

        @media (max-width: ($brkp-large - 1)) {
          width: fit-content;
          padding-inline: f.rem(32px);
        }
      }
    }

    .mobile-label {
      font-weight: bold;

      @media (min-width: $brkp-large) {
        display: none;
      }
    }
  }
}

// .table-responsive__body-row-item {
//   border: 1px solid red;
// }

// .table-responsive__header-item {
//   border: 1px solid green;
// }
