*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	scroll-behavior: smooth;
}

ul[class],
ol[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}